* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font: caption;
}
.cabecera {
    display: flex;
    background-color: #EEEEEE;
    color: #222831;
    justify-content: center;
    padding: 5px;
    
}

.cabecera > div {
    margin-left: 20px;
}

.menu {
    
    display: flex;
    justify-content: center;
    background-color: #222831;
    color: white;
    
}

.menu > div {
    width: 150px;
    height: 60px;
    padding-top: 22px;
    color: #EEEEEE;
    text-align: center;
    position: relative;
}

section {
    text-align: center;
    width: 150px;
}

img {
    width: 100px;
    height: 100%;
}

.menu>div:hover {
    
    color: #00ADB5;
    transition: all .1s;
    border-bottom: solid #00ADB5 3px;
    cursor: pointer;
    
    
}


.submenu {
    visibility: hidden;
    list-style: none;
    position: absolute;
    background-color: #393E46;
    width: 150px;
    


}

.menu div:hover .submenu {
    visibility: visible;
}


.submenu li a{
    display: block;
    color: black;
    color: #00ADB5;
    margin-bottom: 5px;
}

.menu>div>span {
    display: block;
    padding-bottom: 21px;
}


.submenu li{
    padding-top: 10px;
}

input {
    width: 130px;
}

.boton {
    width: 60px;
    padding: 5px;
    background-color: #00ADB5;
    color: #EEEEEE;
    border: none;
    border-radius: 3px;
}

.submenu > li {
    color: #EEEEEE;
}
.enlacemenu{
    text-decoration: none;
    color: white;
}







.tienda{
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 50px;
    padding-left: 400px;
    padding-right: 400px;

}

h2 {
    margin: 20px;
} 

.boton1{
    margin: 20px;
    position: relative;
    width: 150px;
    height: 50px;
    text-align: center;
    background-color: #393E46;
    color: #EEEEEE;
}

.imagenppal{
    width: auto;
    height: 300px;
    margin: 30px;
}


.prod {
    margin: 20px;
    height: 600px;
    border-radius: 5px;
    box-shadow: 0 0 10px #393e46;
    
}

























footer {
    display: grid;
    grid-template-rows: 2fr 5fr;
    grid-template-areas: 
        "redes redes"
        "direccion descripcion"
    ;
    margin-top: 50px;
    background-color: #222831;
    color: #EEEEEE;
    bottom: 0;
    justify-content: space-evenly
    
}


.redes {
    grid-area: redes;
    margin: 20px;
    text-align: center;
}

.direccion {
    grid-area: direccion;
    list-style: circle;
    
    

}

.descripcion {
    grid-area: descripcion;
    width: 400px;
    
}