* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font: caption;
}
.cabecera {
    display: flex;
    background-color: #EEEEEE;
    color: #222831;
    justify-content: center;
    padding: 5px;
    
}

.cabecera > div {
    margin-left: 20px;
}

.menu {
    
    display: flex;
    justify-content: center;
    background-color: #222831;
    color: white;
    
}

.menu > div {
    width: 150px;
    height: 60px;
    padding-top: 22px;
    color: #EEEEEE;
    text-align: center;
    position: relative;
}

section {
    text-align: center;
    width: 150px;
}

img {
    width: 100px;
    height: 100%;
}

.menu>div:hover {
    
    color: #00ADB5;
    transition: all .1s;
    border-bottom: solid #00ADB5 3px;
    cursor: pointer;
    
    
}


.submenu {
    visibility: hidden;
    list-style: none;
    position: absolute;
    background-color: #393E46;
    width: 150px;
    


}

.menu div:hover .submenu {
    visibility: visible;
}


.submenu li a{
    display: block;
    color: black;
    color: #00ADB5;
    margin-bottom: 5px;
}

.menu>div>span {
    display: block;
    padding-bottom: 21px;
}


.submenu li{
    padding-top: 10px;
}

input {
    width: 130px;
}

.boton {
    width: 60px;
    padding: 5px;
    background-color: #00ADB5;
    color: #EEEEEE;
    border: none;
    border-radius: 3px;
}

.submenu > li {
    color: #EEEEEE;
}
.enlacemenu{
    text-decoration: none;
    color: white;
}

.carousel{
    height: 1000px;
    display: grid;
    

    grid-template-areas: 
        "izq arriba der"
        "izq centro der"
        "izq abajo der"
    ;
    text-align: center;
    background-image: url("gym.jpg");
}

.izq {
    grid-area: izq;
    
    align-self: center;
}

.arriba {
    grid-area: arriba;
    
    align-self: center;
    
}

.arriba > div > img{
    width: 400px;
    height: auto;
}

.centro {
    grid-area: centro;
    
    align-self: center;
    padding-left: 400px;
    padding-right: 400px;
}

.centro > div {
    
    font-size: 50px;
    background-color: #393e4694;
    color: #EEEEEE;
    padding-top: 20px;
    padding-bottom: 20px
    
    
}

.abajo {
    grid-area: abajo;
    
    align-self: center;
    padding-left: 400px;
    padding-right: 400px;
}

.abajo > div {
    
    background-color: #393e46;
    color: #EEEEEE;
    padding-top: 20px;
    padding-bottom: 20px;
}

.der {
    grid-area: der;
    
    align-self: center;
}

.carousel > div > i {
    
    font-size: 100px;
    color: #00acb581;
}

.tarifas {
    text-align: center;
    
    margin-top: 50px;
}

.main {
    
    display: grid;
    
    
    grid-template-areas: 
        "izq2 centro2 der2"
    ;
    margin-top: 50px;
    justify-items: center;

    
}

.item1 {
    grid-area: izq2;
    background-color: #00ADB5;
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 0 10px #393e46;
}

.item1:hover {
    background-color: #00acb577;
    border: 1px solid #222831;
}

.item1:hover .cabezal{
    background-color: #52575f;
}

.item1:hover ul{
    color: #222831;
}

.item2 {
    grid-area: centro2;
    background-color: #00ADB5;
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 0 10px #393e46;

}

.item2:hover {
    background-color: #00acb577;
    border: 1px solid #222831;
}

.item2:hover .cabezal{
    background-color: #52575f;
}

.item2:hover ul{
    color: #222831;
}

.item3 {
    grid-area: der2;
    background-color: #00ADB5;
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 0 10px #393e46;
}

.item3:hover {
    background-color: #00acb577;
    border: 1px solid #222831;
}

.item3:hover .cabezal{
    background-color: #52575f;
}

.item3:hover ul{
    color: #222831;
}

.cabezal {
    
    padding-top: 35px;
    text-align: center;
    height: 150px;
    border-bottom: solid #222831 4px;
    color: #EEEEEE;
    background-color: #393E46;
    border-radius: 5px;
}

.contenido {
    padding: 35px;
    padding-top: 50px;
}

.contenido > ul {
    list-style: none;    
    color: #EEEEEE;
    display: flex;
    flex-wrap: wrap;
}


.listaizq {
    text-align: left;
    flex-basis: 80%;
}

.listader {
    text-align: right;
    flex-grow: 1;
}

.precio{
    text-align: center;
    margin-top: 15px;
}
.precio > button {
    
    position: relative;
    width: 170px;
    height: 70px;
    text-align: center;
    background-color: #393E46;
    color: #EEEEEE;
    cursor: pointer;
    
}




footer {
    display: grid;
    grid-template-rows: 2fr 5fr;
    grid-template-areas: 
        "redes redes"
        "direccion descripcion"
    ;
    margin-top: 50px;
    background-color: #222831;
    color: #EEEEEE;
    bottom: 0;
    justify-content: space-evenly
    
}


.redes {
    grid-area: redes;
    margin: 20px;
    text-align: center;
}

.direccion {
    grid-area: direccion;
    list-style: circle;
    
    

}

.descripcion {
    grid-area: descripcion;
    width: 400px;
    
}


/*
Comenzamos con media query --- iPad (810x1080)
*/
@media only screen and (max-width: 810px) {

    .carousel{
        height: 500px;
        display: grid;
        
    
        grid-template-areas: 
            "izq arriba der"
            "izq centro der"
            "izq abajo der"
        ;
    }
    
    .izq {
        grid-area: izq;
        
        align-self: center;
    }
    
    .arriba {
        grid-area: arriba;
        
        align-self: center;
        
    }
    
    .arriba > div > img{
        width: 150px;
        height: auto;
    }
    
    .centro {
        grid-area: centro;
        
        align-self: center;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .centro > div {
        
        font-size: 20px;
        background-color: #393e4694;
        color: #EEEEEE;
        padding-top: 0px;
        padding-bottom: 0px
        
        
    }
    
    .abajo {
        grid-area: abajo;
        
        align-self: center;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .abajo > div {
        
        background-color: #393e46;
        color: #EEEEEE;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .der {
        grid-area: der;
        
        align-self: center;
    }
    
    .carousel > div > i {
        
        font-size: 100px;
        color: #00acb581;
    }
    
    



    .main {
    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "izq2" 
            "centro2" 
            "der2"
        ;
        margin-top: 50px;
        justify-items: center;
    
        
    }
    
    .item1 {
        margin-top: 20px;
        grid-area: izq2;
    
    }

    .item2 {
        margin-top: 20px;
        grid-area: centro2;
    
    }

    .item3 {
        margin-top: 20px;
        grid-area: der2;
    
    }





  }

