* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.cabecera {
    display: flex;
    background-color: #EEEEEE;
    color: #222831;
    justify-content: center;
    padding: 5px;
    font: caption;
}

.cabecera > div {
    margin-left: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    background-color: #222831;
    color: white;
    font: caption;
}

.menu > div {
    width: 150px;
    height: 60px;
    padding-top: 22px;
    color: #EEEEEE;
    text-align: center;
    position: relative;
}

section {
    text-align: center;
    width: 150px;
}

img {
    width: 100px;
    height: 100%;
}

.menu>div:hover {
    
    color: #00ADB5;
    transition: all .1s;
    border-bottom: solid #00ADB5 3px;
    
    
}


.submenu {
    visibility: hidden;
    list-style: none;
    position: absolute;
    background-color: #393E46;
    width: 150px;
    


}

.menu div:hover .submenu {
    visibility: visible;
}


.submenu li a{
    display: block;
    color: black;
    color: #00ADB5;
    margin-bottom: 5px;
}

.menu>div>span {
    display: block;
    padding-bottom: 21px;
}


.submenu li{
    padding-top: 10px;
}

input {
    width: 130px;
}

.boton {
    width: 60px;
    padding: 5px;
    background-color: #00ADB5;
    color: #EEEEEE;
    border: none;
    border-radius: 3px;
}

.submenu > li {
    color: #EEEEEE;
}


.carousel{
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;

    grid-template-areas: 
        "izq arriba der"
        "izq centro der"
        "izq abajo der"
    ;
    text-align: center;
    background-image: url("gym.jpg");
}

.izq {
    grid-area: izq;
    
    align-self: center;
}

.arriba {
    grid-area: arriba;
    
    align-self: center;
    
}

.centro {
    grid-area: centro;
    
    align-self: center;
}

.abajo {
    grid-area: abajo;
    
    align-self: center;
}

.der {
    grid-area: der;
    
    align-self: center;
}

.carousel > div > i {
    
    font-size: 100px;
}
